.login {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    width: 100vw;
    margin: 0;
    top: 8%;
}

@media only screen and (min-width: 480px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 80vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 600px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 70vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 768px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 60vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 936px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 50vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1100px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 40vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1300px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 30vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1500px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 25vw;
        margin: 0;
        top: 8%;
    }
}

.login-txtTitulo {
    color: #946a56;
    font-size: 50px;
    font-weight: 800;
    font-family: Prata;
}

.login-txtLabels {
    text-align: start;
    color: #946a56;
    font-size: 18px;
    width: 50%;
}

.login-redirects {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.login-txtRecuperar {
    color: #946a56;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.login-txtRecuperar:hover {
    color: #946a56;
    text-decoration: underline;
}

.login-txtCriar {
    color: #946a56;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.login-txtCriar:hover {
    color: #a87861;
    text-decoration: underline;
}

.login-divtxtUsuario {
    width: 50%;
}

.login-divUsuario {
    width: 80% !important;
}

.login-inputUsuario {
    width: 100%;
}

.login-divEmail {
    width: 80% !important;
}

.login-inputEmail {
    width: 100%;
}

.login-divSenha {
    width: 80% !important;
}

.login-inputSenha {
    width: 100%;
}

.login-btnAcessar {
    padding: 10px;
    width: 80%;
}

.login-rightsContainer {
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.login-rights {
    color: #946a56;
    font-size: 18px;
}

.login-rightsLinkedin {
    margin-bottom: -5px;
    color: #946a56;
    font-size: 25px;
}