.login {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    width: 100vw;
    margin: 0;
    top: 8%;
}

@media only screen and (min-width: 480px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 80vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 600px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 70vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 768px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 60vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 936px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 50vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1100px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 40vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1300px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 30vw;
        margin: 0;
        top: 8%;
    }
}

@media only screen and (min-width: 1500px) {
    .login {
        position: absolute;
        background-color: transparent;
        overflow: hidden;
        width: 25vw;
        margin: 0;
        top: 8%;
    }
}

.login-txtTitulo {
    color: var(--primary);
    font-size: 50px;
    font-weight: 800;
    font-family: Prata;
}

.login-txtLabels {
    text-align: start;
    color: var(--primary);
    font-size: 18px;
    width: 50%;
}

.login-redirects {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.login-txtRecuperar {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.login-txtRecuperar:hover {
    color: var(--primary);
    text-decoration: underline;
}

.login-txtCriar {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.login-txtCriar:hover {
    color: #a87861;
    text-decoration: underline;
}

.login-divtxtUsuario {
    width: 50%;
}

.login-divUsuario {
    width: 80% !important;
}

.login-inputUsuario {
    width: 100%;
}

.login-divEmail {
    width: 80% !important;
}

.login-inputEmail {
    width: 100%;
}

.login-divSenha {
    width: 80% !important;
}

.login-inputSenha {
    width: 100%;
}

.login-btnAcessar {
    padding: 10px;
    width: 80%;
}

.login-rightsContainer {
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.login-rights {
    color: var(--primary);
    font-size: 18px;
}

.login-rightsLinkedin {
    margin-bottom: -5px;
    color: var(--primary);
    font-size: 25px;
}

/* Container principal */
.custom-select {
    border-radius: 4px;
    font-size: 12px;
    border: none;
    /* Remover borda */
    color: var(--primary);
    background-color: transparent;
    user-select: none;
    text-decoration: none;
}

/* Idioma selecionado */
.custom-select .MuiSelect-select {
    border: none;
    /* Remover borda */
    color: var(--primary);
    background-color: transparent;
    padding: 8px 12px;
}

/* Icone da direita */
.custom-select .MuiSelect-icon {
    color: var(--primary);
}

/* Itens do menu */
.custom-select-menu {
    background-color: #333;
    /* Fundo escuro para o menu */
    color: #fff;
    /* Texto branco para contraste */
}

/* Itens do menu */
.custom-select-menu-item {
    background-color: #333;
    /* Fundo escuro para os itens do menu */
    color: #fff;
    /* Texto branco para contraste */
}

/* Alterar a cor de fundo do item selecionado */
.custom-select-menu-item.Mui-selected {
    background-color: #555;
    /* Cor mais clara para o item selecionado */
}

/* Remove a borda azul quando o Select está focado */
.custom-select .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--primary) !important;
}

/* Remove o foco padrão do Select */
.custom-select .Mui-focused .MuiSelect-icon {
    color: var(--primary);
}

/* Remove o foco padrão do Select quando a opção está selecionada */
.custom-select .MuiSelect-select.MuiSelect-select {
    border-color: var(--primary) !important;
}
