/*NAVBAR*/
.navbar-link {
    color: #ffe3d5 !important;
    font-size: 18px !important;
}

.navbar-link:hover {
    color: #ffffff !important;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: -5px;
}

.custom-navbar {
    background-color: #946a56;
    padding: 0.5rem 1rem;
}

.custom-navbar .navbar-brand {
    height: 40px;
}

.custom-navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.custom-navbar .navbar-toggler {
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
}

.logout-container {
    margin-right: 20px;
    margin-left: auto;
}

.logout-icon {
    color: #ffe3d5 !important;
    cursor: pointer;
}

.logout-icon:hover {
    color: #ffffff !important;
}
/*NAVBAR*/
