/*NAVBAR*/
.navbar-link {
    color: var(--secondary) !important;
    font-size: 18px !important;
}

.navbar-link:hover {
    color: #ffffff !important;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: -5px;
}

.custom-navbar {
    background-color: var(--primary);
    padding: 0.5rem 1rem;
}

.custom-navbar .navbar-brand {
    height: 40px;
}

.custom-navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.custom-navbar .navbar-toggler {
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
}

.logout-container {
    margin-right: 20px;
    margin-left: auto;
}

.logout-icon {
    color: var(--secondary) !important;
    cursor: pointer;
    margin-top: -2px;
}

.logout-icon:hover {
    color: #ffffff !important;
}

/* Ajusta a altura e o padding do Select */
.custom-select {
    height: 36px;
    padding: 0 8px;
    margin-top: 2px;
    margin-right: 20px;
    background-color: var(--secondary) !important;
}

@media (max-width: 991px) {
    .custom-select {
        width: 20%;
        height: 36px;
        padding: 0 8px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: var(--secondary) !important;
    }
}

@media (max-width: 700px) {
    .custom-select {
        width: 30%;
        height: 36px;
        padding: 0 8px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: var(--secondary) !important;
    }
}

@media (max-width: 476px) {
    .custom-select {
        width: 100%;
        height: 36px;
        padding: 0 8px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: var(--secondary) !important;
    }
}

/* Remove o outline azul quando o Select está focado */
.custom-select:focus {
    outline: none;
    border-color: var(--primary) !important;
}

/* Ajusta o estilo dos itens do menu */
.custom-select-menu-item {
    padding: 8px 16px;
}