/*MAIN*/
.app-background {
    height: 100vh;
    background: linear-gradient(179deg, #35C0ED, #8924E8);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container2 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.center {
    text-align: center;
    justify-content: center;
}

span {
    font-size: 2rem;
    user-select: none;
    color: black;
}


/*ERROR PAGE*/
.error-page {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}


/*APP*/
.nav {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbody {
    width: 5rem;
    height: 90%;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navicon-content {
    width: 100%;
    height: 3rem;
    text-align: center;
}

.navicon-content :hover {
    font-size: 3rem;
}

.navicon {
    font-size: 2.5rem;
}

.icon {
    color: white;
}

.body {
    flex: 1;
    padding: 20px;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}


/*LOGIN*/
.loginForm {
    width: 25%;
    height: 60vh;
    margin-top: 4rem;
    margin-left: 37%;
    margin-right: 37%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: white;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.vis {
    opacity: 100%;
    background-color: white;
    width: 100%;
}

.invis {
    opacity: 0%;
    background-color: white;
    width: 0%;
}

.rights-container {
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    user-select: none;
}

.rights {
    color: white;
    font-size: 18px;
}

.rights-linkedin {
    margin-bottom: -5px;
    color: white;
    font-size: 25px;
}


/*CREATE*/
.createForm {
    width: 29rem;
    height: 52vh;
    padding: 15px;
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}