/*MAIN*/
.app-background {
    height: 100vh;
    width: 100%;
    /*background: linear-gradient(179deg, #35C0ED, #8924E8);*/
    background-color: #ffe3d5;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container2 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.primary {
    color: #946a56;
}

.vis {
    opacity: 1;
    display: block;
}

.not-vis {
    opacity: 0;
    display: none;
}

.center {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100vh;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.no-decoration {
    text-decoration: none;
}

span {
    font-size: 2rem;
    user-select: none;
    color: black;
}


/*ERROR PAGE*/
.error-page {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}


/*APP*/
.nav {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbody {
    width: 5rem;
    height: 90%;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navicon-content {
    width: 100%;
    height: 3rem;
    text-align: center;
}

.navicon-content :hover {
    font-size: 3rem;
}

.navicon {
    font-size: 2.5rem;
}

.icon {
    color: white;
}

.body {
    flex: 1;
    padding: 20px;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.logout {
    position: absolute;
    bottom: 30px;
    right: 1px;
}


/*LOGIN*/
.login {
    position: absolute;
    color: #946a56;
    background-color: transparent;
    overflow: hidden;
    /*border: black;
    border-style: solid;
    border-width: 1px;*/

    width: 25vw;
    margin: 0;
    top: 15%;
    border-radius: 15px;
    z-index: 999;
}

.login-txtTitulo {
    color: #946a56;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
}

.login-txtLabels {
    text-align: start;
    color: #946a56;
    font-size: 18px;
    width: 50%;
}

.login-divtxtUsuario {
    width: 50%;
}

.login-divUsuario {
    width: 80% !important;
}

.login-inputUsuario {
    width: 100%;
}

.login-divSenha {
    width: 80% !important;
}

.login-divSenha {
    width: 100%;
}

.login-inputSenha {
    width: 100%;
}

.login-btnAcessar {
    padding: 10px;
    width: 80%;
}

.rights-container {
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    user-select: none;
}

.rights {
    color: #946a56;
    font-size: 18px;
}

.rights-linkedin {
    margin-bottom: -5px;
    color: #946a56;
    font-size: 25px;
}