.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.navbar {
    height: 100vh;
    min-height: 100vh;
    width: 6%;
    max-width: 6%;
    min-width: 6%;
    top: 0;
    left: 0;
    background-color: pink;
    color: white;
    position: sticky;
}

.navbar-body {
    height: 96vh;
    min-height: 96vh;
    width: 70%;
    margin: 15%;
    border-radius: 20px;
    background-color: greenyellow;
    color: white;
    text-align: center;
}

.body {
    flex: 1;
    background-color: #282c34;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}