/* ========== Index ========== */
:root {
  --primary: #946a56;
  --secondary: #ffe3d5;
  --primaryText: #ffffff;
  --primaryTextTint: #e2c8bc;
  --secondaryText: #000000;
  --secondaryTextTint: #946a56;
  --background: #ffffff;
  --appBackground: #ffffff;
}

span,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
  /*font-family: Prata !important;*/
  --bs-body-font-family: var(--bs-font-sans-serif);
  color: var(--secondaryText);
}

label {
  color: var(--primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--appBackground) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select-none {
  user-select: none !important;
}

/* ========== COMPONENTS ========== */
.form-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.form-input-group label {
  align-self: flex-start;
  color: var(--primary) !important;
  margin-bottom: 5px;
  font-size: 16px;
}

.custom-link {
  color: var(--secondaryText) !important;
  text-decoration: none;
}

.custom-link:hover {
  color: var(--secondaryTextTint) !important;
  text-decoration: none;
}

/* ========== APP ========== */
.app-unique-containers {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex: 1;
}

.app-unique-container {
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
  width: 80vw;
  margin: 0;
  top: 8%;
}

@media only screen and (min-width: 480px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 80vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 600px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 70vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 768px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 60vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 936px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 50vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 1100px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 40vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 1300px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 30vw;
    margin: 0;
    top: 8%;
  }
}

@media only screen and (min-width: 1500px) {
  .app-unique-container {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 25vw;
    margin: 0;
    top: 8%;
  }
}

.force-txtCenter {
  text-align: center !important;
  align-items: center !important;
  align-self: center !important;
  justify-content: center !important;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.vis {
  opacity: 1;
  display: block;
}

.not-vis {
  opacity: 0;
  display: none;
}

.width100 {
  width: 100svw;
}

.height100 {
  height: 100svh;
}

.no-decoration {
  text-decoration: none;
}

/* ========== BASE APP (NAVBAR) ========== */
.navbar-brand {
  padding-top: 2px !important;
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-logo {
  color: var(--primaryText) !important;
  font-size: 18px !important;
  margin-left: 20px;
}

.navbar-logo:hover {
  color: var(--primaryTextTint) !important;
}

.navbar-link {
  color: var(--primaryText) !important;
  font-size: 18px !important;
}

.navbar-link:hover {
  color: var(--primaryTextTint) !important;
}

.custom-navbar {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
}

.custom-navbar .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.custom-navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
}

.logout-container {
  margin-right: 20px;
  margin-left: auto;
}

.logout-icon {
  color: var(--primaryText) !important;
  cursor: pointer;
  margin-top: -2px;
}

@media (max-width: 991px) {
  .logout-container {
    position: absolute;
    right: 0.1px;
    bottom: 10px;
  }

  .logout-icon {
    color: var(--primaryText) !important;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .custom-navbar {
    position: relative;
  }
}

.logout-icon:hover {
  color: var(--primaryTextTint) !important;
}

/* ========== CREATE ACCOUNT ========== */
.create-user-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-divCriar {
  margin-top: 10px;
}

/* ========== CREATE NOTE ========== */
.custom-label {
  color: var(--primary) !important;
  font-size: 18px !important;
}

.txtTitle {
  color: var(--secondaryText) !important;
  font-size: 16px !important;
}

.resizable-editor .ql-container {
  color: var(--secondaryText) !important;
  resize: vertical;
  overflow: auto;
  min-height: 200px;
  max-height: 1000px;
  background-color: white !important;
}

.resizable-editor .ql-toolbar {
  color: var(--secondaryText) !important;
  background-color: white !important;
}

.resizable-editor .ql-editor {
  color: var(--secondaryText) !important;
  font-size: 18px;
  /* Editor HTML */
  font-family: Arial, Helvetica, sans-serif !important;
}

.resizable-editor .ql-toolbar .ql-picker {
  color: var(--secondaryText) !important;
  font-size: 16px;
  /* Toolbar do Editor HTML */
}

span.ql-picker-label {
  color: var(--secondaryText) !important;
}

.ql-editor p {
  color: var(--secondaryText) !important;
}

/* ========== EDIT NOTE ========== */
.txtTitle {
  font-size: 16px !important;
}

.resizable-editor .ql-container {
  resize: vertical;
  overflow: auto;
  min-height: 200px;
  max-height: 1000px;
  background-color: white !important;
}

.resizable-editor .ql-toolbar {
  background-color: white !important;
}

.resizable-editor .ql-editor {
  font-size: 17px;
  /* Editor HTML */
  font-family: Arial, Helvetica, sans-serif !important;
}

.resizable-editor .ql-toolbar .ql-picker {
  font-size: 16px;
  /* Toolbar do Editor HTML */
}

/* ========== LOGIN ========== */
.login-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-txtTitulo {
  color: var(--primary);
  font-size: 50px;
  font-weight: 800;
  font-family: Prata;
}

.login-txtLabels {
  text-align: start;
  color: var(--primary);
  font-size: 18px;
  width: 50%;
}

.login-redirects {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}

.login-txtRecuperar {
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.login-txtRecuperar:hover {
  color: var(--primary);
  text-decoration: underline;
}

.login-txtCriar {
  font-size: 15px;
  font-weight: 600;
}

.login-divtxtUsuario {
  width: 50%;
}

.login-divUsuario {
  width: 80% !important;
}

.login-inputUsuario {
  width: 100%;
}

.login-divEmail {
  width: 80% !important;
}

.login-inputEmail {
  width: 100%;
}

.login-divSenha {
  width: 80% !important;
}

.login-inputSenha {
  width: 100%;
}

.login-btnAcessar {
  padding: 10px;
  width: 80%;
}

.login-rightsContainer {
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.login-rights {
  color: var(--primary);
  font-size: 18px;
}

.login-rightsLinkedin {
  margin-bottom: -5px;
  color: var(--primary);
  font-size: 25px;
}

.custom-select {
  top: 15px;
  border-radius: 4px;
  font-size: 12px;
  border: none;
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  background-color: transparent;
  user-select: none;
  text-decoration: none;
}

.custom-select:focus {
  outline: none;
}

.custom-select .MuiSelect-select {
  border: none;
  color: var(--primary) !important;
  background-color: transparent;
  padding: 8px 12px;
}

.custom-select .MuiSelect-icon {
  color: var(--primary) !important;
}

.custom-select-menu {
  color: var(--primary) !important;
}

.custom-select-menu-item {
  padding: 8px 16px;
  color: var(--primary) !important;
}

.custom-select-menu-item.Mui-selected {
  color: var(--primary) !important;
}

.custom-select .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary) !important;
}

.custom-select .Mui-focused .MuiSelect-icon {
  color: var(--primary) !important;
}

.custom-select .MuiSelect-select.MuiSelect-select {
  border-color: var(--primary) !important;
}

.custom-select-logged {
  top: 90px;
  border-radius: 4px;
  font-size: 12px;
  border: none;
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  background-color: transparent;
  user-select: none;
  text-decoration: none;
}

/* ========== NOTE ========== */
.publicNoteNotFound {
  font-size: xx-large;
  margin: 30px 0px 0px 40px;
  color: darkred;
  font-weight: 800;
  user-select: none;
}

.publicNoteContainer {
  padding: 10px 40px 60px 40px;
}

.publicNoteTitle {
  color: var(--primary) !important;
  font-size: xx-large;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 650;
}

.publicNoteContent {
  color: var(--titleSecondaryText) !important;
  font-size: x-large;
}

.publicNoteContent p {
  color: var(--titleSecondaryText) !important;
  user-select: auto;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* ========== NOTES ========== */
.logout {
  position: absolute;
  bottom: 30px;
  right: 1px;
}

.txt-search {
  color: var(--secondaryText) !important;
  border-color: var(--primary) !important;
  background-color: transparent !important;
  height: 50px;
}

.txt-search::placeholder {
  color: var(--primary) !important;
}

.floating-btn {
  background-color: var(--primary) !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.floating-btn:hover {
  background-color: var(--secondary) !important;
}*/

.floating-btn span {
  display: none !important;
}

.floating-btn svg {
  color: var(--primaryText) !important;
}

@media (max-width: 930px) {
  .floating-btn {
    background-color: var(--primary) !important;
    bottom: 0;
    width: 100%;
    height: auto;
    right: 0;
    border-radius: 0;
    padding: 10px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    justify-content: center;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .floating-btn span {
    color: var(--primaryText) !important;
    display: inline !important;
    margin-left: 0;
  }

  .floating-btn svg {
    display: none !important;
  }

  .note-list {
    padding-bottom: 50px;
  }
}

.card {
  background-color: var(--background) !important;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.note-card-body {
  background-color: var(--background) !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-text-container {
  flex: 1;
  overflow: hidden;
}

.note-text-container p {
  user-select: auto !important;
}

.note-card-footer {
  background-color: var(--background) !important;
}

.note-title {
  color: var(--primary) !important;
  user-select: auto;
  cursor: pointer;
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.note-title:hover {
  color: var(--primaryTextTint) !important;
  user-select: auto;
  cursor: pointer;
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.note-content {
  color: var(--secondaryText) !important;
  margin-top: 5px;
  resize: vertical;
  overflow: auto;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
  flex: 1;
  height: 200px;
  min-height: 200px;
  max-height: 500px;
  user-select: auto !important;
}

.note-content p {
  color: var(--secondaryText) !important;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.note-content span {
  color: var(--secondaryText) !important;
}

.note-visible {
  accent-color: var(--primary) !important;
  cursor: pointer;
  margin-right: 5px;
  transform: scale(1.2);
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-rightFooter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.note-rightFooter span {
  color: var(--primary) !important;
  cursor: pointer;
  line-height: 1;
}

.note-rightFooter svg {
  vertical-align: baseline;
}

.note-rightFooter span+span {
  margin-left: 10px;
  /* Espaço entre os ícones */
}

#trash-icon {
  font-size: 20px;
}

#lock-icon {
  font-size: 22px;
}

.note-leftFooter {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.note-leftFooter span {
  color: var(--primary) !important;
  cursor: pointer;
  line-height: 1;
}

.note-leftFooter svg {
  vertical-align: baseline;
}

#link-icon {
  font-size: 22px;
}

#link-icon a {
  color: var(--primary) !important;
}

.context-menu {
  position: absolute;
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu button {
  background: none;
  border: none;
  color: var(--secondary) !important;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sort-dropdown {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.sort-dropdown .dropdown-toggle {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
  border: none;
}

.sort-dropdown .dropdown-menu {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
}

.sort-dropdown .dropdown-item {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
}

.sort-dropdown .dropdown-item:hover {
  /*background-color: var(--secondary) !important;*/
  color: var(--primaryTextTint) !important;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-button {
  color: var(--primaryText) !important;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.filter-buttons button {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  background-color: transparent !important;
  display: flex;
  gap: 10px;
}

.filter-buttons button:hover {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
}

.filter-button.active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--primaryText) !important;
}

.filter-button.active:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--primaryText) !important;
}

@media (max-width: 476px) {

  .filter-buttons,
  .sort-dropdown,
  .search-input {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
  }

  .filter-button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 475px) {
  .filter-sort-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/* ========== SETTINGS ========== */
.app-container-settings {
  margin-top: 55px;
  padding: 0px 30px 0px 30px;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  color: var(--secondaryText) !important;
}

@media only screen and (min-width: 480px) {
  .app-container-settings {
    margin-top: 55px;
    padding: 0px 30px 0px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .app-container-settings {
    margin-top: 55px;
    padding: 0px 150px 0px 150px;
  }
}

@media only screen and (min-width: 1100px) {
  .app-container-settings {
    margin-top: 55px;
    padding: 0px 20% 0px 20%;
  }
}

@media only screen and (min-width: 1400px) {
  .app-container-settings {
    margin-top: 55px;
    padding: 0px 25% 0px 25%;
  }
}

@media only screen and (min-width: 1600px) {
  .app-container-settings {
    margin-top: 55px;
    padding: 0px 33% 0px 33%;
  }
}

/* ========== PAGE NOT FOUND ========== */
.error-page {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}