.custom-label {
    color: #000000 !important;
    font-size: 18px !important;
}

.resizable-editor .ql-container {
    resize: vertical;
    overflow: auto;
    min-height: 200px;
    max-height: 1000px;
    background-color: white !important;
}

.resizable-editor .ql-toolbar {
    background-color: white !important;
}

.resizable-editor .ql-editor {
    font-size: 18px; /* Editor HTML */
    font-family: Arial, Helvetica, sans-serif !important;
}

.resizable-editor .ql-toolbar .ql-picker {
    font-size: 16px; /* Toolbar do Editor HTML */
}
